            
            
            
            body{
                background: #EBEEF4;
            }

            div{
                margin: 20px;
            }     
            #head {
                width: 1440px;
                margin: 0 auto;
                position: fixed;
                margin-top: -20px !important;   
                z-index: 1; 
            }
            #pagecontent{
                max-width:1280px;
                margin: 0 auto;
                display: flex;
                flex-direction: row;
            }
    
            #nav{
                width: 20%;
                height: 10%;
                flex-grow: 1;
            }
            #nav a {
                padding: 10px 10px;
                margin: 10px;
                display: flex;
                flex-direction: column;
                justify-items:center;
                text-decoration: none;
                font-size: 18px;
                color: green;
                text-transform: uppercase;   
            }
            #nav a:hover {
                color: #064579;
              }
            
            #content{
                width: 80%;
                float: right;
                flex-grow: 1;
                overflow:auto;
            }
            #toprow {
            display: flex;
            }
            #overview {
                width: 75%;
            }
            #content, #toprow, #bottomrow {
                height: 85vh;
            }
            
            #snapshot {
                width: 225px;
                float: left;
            }
                #bottomrow {
                display: flex;
            }
            
            #highlights {
                width: 75%;
                
            }
            #wizzlets {
                width: 225px;
                float: left;
            }
            #valuesets {
                display: grid;
                grid-template-columns: auto auto;
            }
        
            .bg1{
                background-color: #e3fdfd;
            }
            .bg2{
                background-color: #cbf1f5;
            }
            .bg3{
                background-color: #a6e3e9;
            }
            .bg4{
                background-color: #71c9ce;
            }

            @media screen and (max-width: 770px) {
                
                #toprow {
                    
                    flex-direction: column;
                    height: auto;
                }
                #overview  {
                    width:auto;
                    height: auto;
                }
                #snapshot {
                    width: auto;
                    height: auto;
                    float:none;
                }
                #bottomrow {
                    flex-direction: column;
                    height: auto;
                }
                
                #highlights {
                    width: auto;
                    
                }
                #wizzlets {
                    width: auto;
                    float:none;
                }
                #valuesets {
                    display: grid;
                    grid-template-columns: auto auto;
                    align-content: center;
                }
                
                #pagecontent{
                    max-width:auto;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                }
                #nav{
                    width: auto;
                    height: 100px;
                    display: flex;
                    flex-direction: row;                    

                }
                #content{
                    width: auto;
                    float: none;
                    margin-top: auto;

            }
            @media screen and (max-width: 320px) {
                #valuesets {
                    display: grid;
                    grid-template-columns: auto;
                    justify-content: center;
                }
            }